h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;

}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.heading {

  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.highlight {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 900;
  height: 40px;
  background-color: $orange-300 !important;
  padding-left: 8px;
  padding-right: 8px;

}

.highlight-green {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 900;
  height: 40px;
  background-color: $green-300 !important;
  padding-left: 8px;
  padding-right: 8px;

}

.highlight-purple {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 900;
  height: 40px;
  background-color: $purple-100 !important;
  padding-left: 8px;
  padding-right: 8px;


}
