h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;

}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.heading {

  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  font-weight: 900;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;

}

.highlight {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  font-weight: 900;
  height: 60px;
  background-color: $orange-300 !important;

}

.highlight-green {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  font-weight: 900;
  height: 60px;
  background-color: $green-200 !important;

}

.highlight-purple {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  font-weight: 900;
  height: 60px;
  background-color: $purple-200 !important;

}
