<nav class="navbar">

  <%# <a href="www.grrunch.com" class="navbar__logo"> %>
  <%= link_to root_path do %>
    <img src="https://res.cloudinary.com/diwuyv3c8/image/upload/v1733093390/grrunch-logo-text_yceq4n.svg"
         width="80%"
         alt="Grrunch Logo">
  <% end %>

  <ul class="navbar__menu">
    <li class="navbar__item">

      <div class="link">
        <i data-feather="map-pin"></i>
        <span>See selected stores</span>
      </div>

      <li class="navbar__item">
        <button class="btn-secondary btn-secondary--dashed">My shopping list</button>
      </li>

       <button class="btn-primary btn-primary--white">Sign in</button>
       <button class="btn-primary">Sign up</button>


    </li>
  </ul>
</nav>
