<%= render "shared/navbar" %>

<div class="container-left-align">
  <%= render "shared/search_bar" %>
</div>

<div class="container-about">
  <h1>About Us</h1>
  <div class="heading">
    The price of the grocery basket has <span class="highlight"> skyrocketed</span>&nbsp;Our Web app bla blaLet’s dive right into it. The problem we aim to solve is


  </div>
</div>





<!--
  <div class="container-2-col">
    <img src="https://res.cloudinary.com/diwuyv3c8/image/upload/v1734040123/sem_sbw5as.svg">
    <p>There are certainly contributing factors, such as the pandemic and the rise in fuel and energy costs, but here we will focus on one we can act on: SEM strategies.</p>

  </div>
-->






</div>
