<%= render "shared/navbar" %>

<div class="container-left-align">
  <%= render "shared/search_bar" %>
</div>

<div class="container-about">
  <h1>About Us</h1>

  <div class="heading">
    At Grrunch, we've got one thing keeping us up at night (besides snacks): the jaw-dropping,<span class="highlight">skyrocketing price of groceries</span>
    Luckily, we've got <span class="highlight-green">marketing superpowers.</span> We see through <span class="highlight-purple"> sneaky tactics and cut through the fluff.</span>
  </div>

  <div class="heading">
    Wave goodbye to sponsored products, misaligned targeting ads, and no more SEM promotional algorithms!
  </div>

  <div class="heading">
    <span class="highlight">Shop Smart with Grrunch!</span>
  </div>


</div>





<!--
  <div class="container-2-col">
    <img src="https://res.cloudinary.com/diwuyv3c8/image/upload/v1734040123/sem_sbw5as.svg">
    <p>There are certainly contributing factors, such as the pandemic and the rise in fuel and energy costs, but here we will focus on one we can act on: SEM strategies.</p>

  </div>
-->






</div>
