
<!-- Navbar -->
<nav class="navbar">

  <a href="www.grrunch.com" class="navbar__logo">
    <img src="https://res.cloudinary.com/diwuyv3c8/image/upload/v1733093390/grrunch-logo-text_yceq4n.svg"
         width="80%"
         alt="Grrunch Logo">
  </a>

  <ul class="navbar__menu">
    <li class="navbar__item">

      <div class="store-link">
        <i data-feather="map-pin"></i>
        <span>See selected stores</span>
      </div>

      <li class="navbar__item">
        <button class="btn-secondary btn-secondary--dashed">My shopping list</button>
      </li>

       <button class="btn-primary btn-primary--white">Sign in</button>
       <button class="btn-primary">Sign up</button>


    </li>
  </ul>
</nav>

<!--End of Navbar -->
<div>
<!--Search bar -->
<%= render "shared/search_bar" %>

<!--End of Search bar -->

<div class="container">
  <div class="container-hrz">
    <p>Or search within these categories</p>
    <i data-feather="arrow-right"></i>
  </div>

    <h1>Bites Into Grocery Prices</h1>

<!--Carrousel -->

<div class="carousel">
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide current-slide">
        <img src="https://res.cloudinary.com/diwuyv3c8/image/upload/v1733344581/carrousel-01_tbu0hf.svg" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src="https://res.cloudinary.com/diwuyv3c8/image/upload/v1733344584/carrousel-02_q7nmko.svg" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src="https://res.cloudinary.com/diwuyv3c8/image/upload/v1733344582/carrousel-03_jesk6m.svg" class="carousel__image">
      </li>
    </ul>
  </div>



  <div class="carousel__nav">
    <button class="carousel__indicator current-slide"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div>
</div>



<!--End of Carrousel -->
</div>
</div>
