
<!-- Navbar -->
<%= render "shared/navbar" %>

<!--End of Navbar -->
<div>
<!--Search bar -->
<%= render "shared/search_bar" %>

<!--End of Search bar -->

<div class="container">
  <div class="container-hrz">
    <p>Or search within these categories</p>
    <i data-feather="arrow-right"></i>
  </div>

    <h1>Bites Into Grocery Prices</h1>

<!--Carrousel -->

<%= render "shared/carousel" %>

<!--End of Carrousel -->

<!--Product cards -->
<%= render "shared/product_cards" %>
<!--End Product cards -->
</div>

<!--Product card horizontal-->
<div class="container-main container-main--green">
<div class="product-card-hrz">
  <!-- Bloc-01 -->
  <div class="product-card-hrz__bloc-01">
    <div class="product-card-hrz__bloc-01__col-left">
      <h6>Vanilla Ice Cream</h6>
      <div class="price-weight">1.66 L</div>
    </div>
    <div class="product-card-hrz__bloc-01__col-right">
      <h6>$3,69 ea</h6>
      <div class="price-weight">$0,22/100 ml</div>
    </div>
  </div>

  <!-- Bloc-02 -->
  <div class="product-card-hrz__bloc-02">
    <div class="section-01">
      <!-- Container left -->
      <div class="product-card-hrz__bloc-02__container-left">
        <img src="https://res.cloudinary.com/diwuyv3c8/image/upload/v1733513499/ice-cream_wdpk27.png" alt="Ice Cream">
      </div>

      <!-- Container right -->
      <div class="product-card-hrz__bloc-02__container-right">
        <!-- Column 1 -->
        <div class="price-column">
          <div class="price-item">
            <div class="status-dot status-dot-highest"></div>
            <div class="price-content">
              <div class="price-title">Highest $8,19 ea</div>
              <div class="price-weight">$1,75 / 100 gr</div>
            </div>
          </div>

          <div class="price-item">
            <div class="status-dot status-dot-lowest"></div>
            <div class="price-content">
              <div class="price-title">Lowest $3,40 ea</div>
              <div class="price-weight">$0,65 / 100 gr</div>
            </div>
          </div>
        </div>

        <!-- Column 2 -->
        <div class="price-column">
          <div class="price-item">
            <div class="status-dot status-dot-avg"></div>
            <div class="price-content">
              <div class="price-title">Average $5,49 ea</div>
              <div class="price-weight">$1,20 / 100 gr</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bloc-03 -->
  <div class="product-card-hrz__bloc-03">
    <div class="location">
      <i data-feather="map-pin"></i>
      <h6>Provigo</h6>
    </div>
    <div class="action">
      <button class="btn-secondary btn-secondary--dashed">
        Add to list
        <i data-feather="plus-circle"></i>
      </button>
      <div class="link">
        <span>More details</span>
      </div>
    </div>
  </div>
</div>
