.btn-primary {
  // Base button styles
  display: inline-block;
  background-color: $orange-400;
  padding: $spacing-12 $spacing-16;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 100px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  margin: $spacing-8;


  // Default button states
  &:hover {
      background-color: $orange-200;
  }

  &:active {
      background-color: white;
  }

  &:disabled {
      opacity: 40%;
      cursor: not-allowed;
  }

  // Modifier: White style
  &--white {
      background-color: white;

      &:hover {
          background-color: $orange-200;
      }

      &:active {
          background-color: $orange-400;
      }

      &:disabled {
          opacity: 40%;
      }
  }

  // Modifier: Green style
  &--green {
      background-color: $green-400;

      &:hover {
          background-color: $green-200;
      }

      &:active {
          background-color: white;
      }

      &:disabled {
          opacity: 40%;
      }
  }
}

.btn-secondary {
  // Base button styles
  display: flex;
  background-color: white;
  padding: $spacing-12 $spacing-16;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 100px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  margin: $spacing-8;
  align-items: center;
  gap: 4px;

  &:hover {
      background-color: $orange-200;
  }

  &:active {
      background-color: white;
  }

  &:disabled {
      opacity: 40%;
      cursor: not-allowed;
  }

  // Modifier: dashed border
  &--dashed {
      border: 2px dashed black;

      &:hover {
          background-color: $orange-200;
      }

      &:active {
          background-color: $orange-400;
      }

      &:disabled {
          opacity: 40%;
      }
  }
}

.filter-button-wrapper {
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
}

.btn-filter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
  background-color: white;
  padding: $spacing-8;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  margin: $spacing-4;
  position: relative; /* Add this */

  &:hover {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    background-color: $orange-200;
    padding: $spacing-8;
    border-radius: 100px;;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    margin: $spacing-4;
    position: relative; /* Add this */
  }

  &:active {
    background-color: $orange-200;
    border-radius: 100px;
    opacity: 1;
  }

  &:disabled {
    opacity: 40%;
    cursor: not-allowed;
  }

}
