.container {
    display: flex;  
    margin: $spacing-xxlarge;
    padding: $spacing-xxlarge;
    border-radius: $spacing-medium;
    border: 1px solid black;
    box-shadow: -2px 2px 0px 0px black;

    
    // Default (White)
     &--white {
        background-color: white;
     }
}