#main {
  width: 300px !important;
  height: 200px !important;
  margin:0 !important;
 }

 canvas {
  width: 300px !important;
  height: 200px !important;
  margin:0px !important;
  padding: 30px !important;
 }
