.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-16 $spacing-32;

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    margin: 0;
    padding: 0;
  }

}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-4;
  margin: 0 $spacing-8;
  text-decoration: underline;
}

.link-anchor {
  cursor: pointer;
  color: black;
  text-decoration: underline;

  &:visited {
    color: black;
  }

  &:hover {
    color: black;
  }

  &:active {
    color: black;
  }
}


  svg {
    width: 24px;
    height: 24px;
    color:black;
  }

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

  }
