.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-16 $spacing-32;

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }


}
