<h1>hello this is a test to see if the routes work!!!</h1>

<%= render "shared/search_bar" %>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="products">
        <% if @products.any? %>
          <% @products.each do |product| %>
            <h4><%= product.name %></h4>
            <p><%= product.brand %></p>
          <% end %>
        <% else %>
          <em>Sorry, no food found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
